In [2]:
import numpy as np
import pandas as pd

In [3]:
dic=dict()

a = [i for i in range(1,10)]
b = [i for i in range(11,20)]
c = [i for i in range(21,30)]

dic['data']=[a,b,c]

dic['col']=['a','b','c']
dic['row']=[i for i in range(101,110)]

dic

{'data': [[1, 2, 3, 4, 5, 6, 7, 8, 9],
  [11, 12, 13, 14, 15, 16, 17, 18, 19],
  [21, 22, 23, 24, 25, 26, 27, 28, 29]],
 'col': ['a', 'b', 'c'],
 'row': [101, 102, 103, 104, 105, 106, 107, 108, 109]}

In [4]:
df = pd.DataFrame(dic['data'], columns=dic['row'], index=dic['col']).T
# df.index = dic['col']

df

     a   b   c
101  1  11  21
102  2  12  22
103  3  13  23
104  4  14  24
105  5  15  25
106  6  16  26
107  7  17  27
108  8  18  28
109  9  19  29

In [8]:
df.sample(3)

     a   b   c
104  4  14  24
109  9  19  29
101  1  11  21